DATABASE_URL=postgresql://usuario:password@host/nombre_db
PORT=5000
JWT_SECRET=cambia_esto_en_produccion
FRONTEND_URL=http://localhost:5185
AZURE_CLIENT_ID=tu_azure_client_id
AZURE_CLIENT_SECRET=tu_azure_client_secret
AZURE_TENANT_ID=tu_azure_tenant_id
AZURE_REDIRECT_URI=http://localhost:5000/api/auth/microsoft/callback
GMAIL_USER=tu_correo@gmail.com
GMAIL_APP_PASSWORD=tu_app_password_gmail
